{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<style>
    body {
        font-family: 'Arial', sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f9f9f9;
    }

    section {
        max-width: 1200px;
        margin: 20px auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    section h2 {
        color: #333;
        font-size: 28px;
        margin-bottom: 20px;
    }

    section p {
        color: #555;
        font-size: 16px;
        line-height: 1.5;
    }

</style>
<section>
    <h2>Bienvenido a OppositionUS</h2>
    <p></p>
    <p>Podrás encontrarnos en Av. Reina Mercedes, s/n, 41012 Sevilla</p>
    <img src="{% static 'images/logo-US.png' %}" alt="Logo US" style="display: block; margin: auto; width: 279px;">
</section>

{% endblock content %}
