{% extends 'store/main.html' %}
{% load static %}

{% block content %}
  <h2>Perfil de {{ customer.name }}</h2>
  <ul>
    <li>Email: {{ customer.email }}</li>
    <li>Dirección: {{ customer.adress }}</li>
    <li>Teléfono: {{ customer.phone }}</li>
  </ul>

  {% if user.customer.shippingaddress_set.exists %}
    <h3>Datos de entrega:</h3>
    <ul>
      <li>Dirección: {{ user.customer.shippingaddress_set.last.address }}</li>
      <li>Ciudad: {{ user.customer.shippingaddress_set.last.city }}</li>
      <li>Estado: {{ user.customer.shippingaddress_set.last.state }}</li>
      <li>Código postal: {{ user.customer.shippingaddress_set.last.zipcode }}</li>
      <li>País: {{ user.customer.shippingaddress_set.last.country }}</li>
    </ul>
  {% endif %}
  <br>
  <br>
{% endblock content %}