{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-lg-3">
        <form action="/" method="get">
            <input type="hidden" name="q" value="{{ query }}">
            <input type="hidden" name="color" value="{{ color }}">
            <input type="hidden" name="talla" value="{{ talla }}">
        </form>
    </div>
    <div class="col-lg-9">
        <h2>Todos los productos:</h2>
        <p>{{ filters_applied }}</p>
        {% if products|length == 0 %}
            <p>No se encontraron productos.</p>
        {% elif products|length > 1 %}
            <p>[{{ products|length }} resultados]</p>
        {% else %}
            <p>[{{ products|length }} resultado]</p>
        {% endif %}
    </div>
    {% for product in products %}
        <div class="col-lg-4">
            <a href="{% url 'details' product.id %}">
                {% if product.image %}
                {% else %}
                    <img class="thumbnail" src="/products/placeholder.png">
                {% endif %}
            </a>
            <div class="box-element product">
                <h6><strong>{{product.name}}</strong></h6>
                <hr>
                <a>
                    <button class="btn btn-outline-secondary add-btn">Ver producto</button>
                </a>
                <h4 style="display: inline-block; float: right;"><strong>
                    {{product.price|floatformat:2}} €
                </strong></h4>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock content %}
